/* Parte geral (seletor universal e body) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #838383;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* Parte do cabeçalho (header) */

header {
    background-color: rgb(218, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.titulo {
    color: white;
}

hr {
    background-color: white;
    height: 3px;
    width: 650px;
}

.lista {
    color: white;
    display: flex;
    gap: 40px;
    margin-top: 5px;
    list-style: none;
    font-weight: bold;
}

.lista li a {
    cursor: pointer;
    border-radius: 10px;
    background-color: #838383;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.lista li a:hover {
    background-color: #333;
}

/* Parte principal (main) */

main {
    flex: 1;
    display: flex;
    margin: 20px;
}

.pagina {
    display: none;
}

.pagina.ativa {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subtitulo {
    color: white;
}

.botao {
    background-color: rgb(218, 64, 64);
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: rgb(185, 46, 46);
}